vrrp_script chk_nginx {
  script "killall -0 nginx"
  interval 2
  weight 2
}

vrrp_instance VI_1 {
  interface eth0
  state {{ state }}
  virtual_router_id 1
  priority {{priority}}
  virtual_ipaddress {
  192.168.10.201
  }
  track_script {
    chk_nginx
  }
  authentication {
    auth_type PASS
    auth_pass password
  }
}